---
layout: default
---

{% assign post = page %}
{% if post.categories.size > 0 %}
  {% for post_cat in post.categories %}
    {% assign cat = site.data.cats[post_cat] %}
    {% if cat %}
      {% capture cats_content %}
        {{ cats_content }}
        <a href="/blog/category/{{ post_cat }}/">{{ cat.name }}</a>{% if forloop.last == false %}, {% endif %}
      {% endcapture %}
    {% endif %}
  {% endfor %}
{% else %}
    {% assign cats_content = '' %}
{% endif %}

<article class="page" itemscope itemtype="https://schema.org/BlogPosting">
  <p class="page-meta">
    Posted
    {% assign author = site.data.authors[page.author] %}
    {% if author %}
      by
      <a href="#author-detail" itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ author.fullname }}</span>
      </a>
    {% endif %}
    on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    in {{ cats_content }}
</p>

  <div class="page-content" itemprop="articleBody">
    {{ content }}
  </div>
  <a name="author-detail"></a>
  {% include components/author-detail.html %}
</article>
