---
layout: default
---

{% assign post = page %}
{% if post.categories.size > 0 %}
  {% for post_cat in post.categories %}
    {% assign cat = site.data.cats[post_cat] %}
    {% if cat %}
      {% capture cats_content %}
        {{ cats_content }}
        <a href="/blog/category/{{ post_cat }}/">{{ cat.name }}</a>{% if forloop.last == false %}, {% endif %}
      {% endcapture %}
    {% endif %}
  {% endfor %}
{% else %}
    {% assign cats_content = '' %}
{% endif %}

<article class="page" itemscope itemtype="https://schema.org/BlogPosting">
  <p class="page-meta">
    {% if page.author %}
      By
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>
      <br />
    {% endif %}
    On <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
</p>

  <div class="page-content" itemprop="articleBody">
    {{ content }}
  </div>

  Categories: {{ cats_content }}
</article>
